#map{
    width: 100%;
    height: 100%;
    z-index: -1;
}

/*::-webkit-scrollbar {
    width: 12px;
}
 
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 10px;
}
 
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}*/

/* label focus color */
.input-field input:focus + label {
    color: #0d47a1;
}

/* label underline focus color */
.row .input-field input:focus {
    border-bottom: 1px solid#0d47a1 !important;
    box-shadow: 0 1px 0 0#0d47a1 !important
}

.cardText{
    text-shadow: 1px 1px 2px #212121;
}

/* Mobile Styles */
@media only screen and (max-width: 400px) {

    ::-webkit-scrollbar-track
    {
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
        border-radius: 10px;
        background-color: #F5F5F5;
    }

    ::-webkit-scrollbar
    {
        width: 8px;
        background-color: #F5F5F5;
    }

    ::-webkit-scrollbar-thumb
    {
        border-radius: 10px;
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
        background-color: #555;
    }

    .modalButtons{
        margin-right: 10px;
    }

    .tabCards{
        display: flex;
        flex-direction: column-reverse;
    }

    .dividerArea{
        margin-bottom: 25px;
    }

    .cardContentAreas{
        margin-top: 20px;
        margin-bottom: -20px;
    }
}
  
/* Tablet Styles */
@media only screen and (min-width: 401px) and (max-width: 960px) {

    ::-webkit-scrollbar-track
    {
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
        border-radius: 10px;
        background-color: #F5F5F5;
    }

    ::-webkit-scrollbar
    {
        width: 10px;
        background-color: #F5F5F5;
    }

    ::-webkit-scrollbar-thumb
    {
        border-radius: 10px;
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
        background-color: #555;
    }

    .modalButtons{
        margin-right: 15px;
    }

    .tabCards{
        display: flex;
        flex-direction: column-reverse;
    }

    .dividerArea{
        margin-bottom: 35px;
    }

    .cardContentAreas{
        margin-top: 30px;
        margin-bottom: -30px;
    }
}
  
/* Desktop Styles */
@media only screen and (min-width: 961px) {

    ::-webkit-scrollbar-track
    {
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
        border-radius: 10px;
        background-color: #F5F5F5;
    }

    ::-webkit-scrollbar
    {
        width: 12px;
        background-color: #F5F5F5;
    }

    ::-webkit-scrollbar-thumb
    {
        border-radius: 10px;
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
        background-color: #555;
    }

    .modalButtons{
        margin-right: 15px;
    }

    .dividerArea{
        margin-bottom: 50px;
    }

    .cardContentAreas{
        margin-top: 40px;
        margin-bottom: -40px;
    }
}